<div class="row"></div>
<div ng-init="" class="span24"></div>
<button class="button button-big inline" ng-click="contrl.startSteal()">Старт</button>
<button class="button button-big inline" ng-click="contrl.stopSteal()">Пауза</button>
<button class="button button-big inline" ng-click="contrl.saveToFile()">Сохранить в файл</button>
<button class="button button-big inline" ng-click="contrl.clearAll()">Очистить кэш</button>

<div class="span12" ng-show="contrl.qAmount != 0">
<hr>
    <h2>Вопросы</h2>                       
    <blockquote>
        <h3>id: <span ng-class="contrl.isNew ? 'color-text' : '' " ng-bind="contrl.currentQuestion.qId"></span></h3>
        <h3>Всего: <span ng-class="contrl.isNew ? 'color-text' : '' " ng-bind="contrl.qAmount + '(' + contrl.tries + ') ' +  + ' 1 уникальный вопрос/' + contrl.seconds + 'c'"></span></h3>
        <h3>Вопрос: <span ng-class="contrl.isNew ? 'color-text' : '' " ng-bind="contrl.currentQuestion.qBody"></span></h3>
        <h3><span ng-repeat="answ in contrl.currentQuestion.answers" ng-bind="$index+1 + ') ' + answ + '; '" ng-class="answ == contrl.currentQuestion.truth ? 'color-text' : '' "></span></h3>
    </blockquote>
</div>