<div class="span12">
    <h2>Вопросы</h2>
    <div class="row"></div>
    <div class="span6">                               
        <blockquote>
           <h3>id {{qNow.qId}} <span class="color-text">тоталов больше</span></h3>
           <div class="accordion-heading accordionize ">
                <a ng-class="biggerNullBlock? 'accordion-toggle selected' : 'accordion-toggle'" ng-click="biggerNullBlock = biggerNullBlock? false: true" data-toggle="collapse" class="accordion-toggle">Без блоков</a>
            </div>
            <div ng-show="!biggerNullBlock" class="span">
                <span>Длина блока/количество</span>
                <nav class="icons-example">
                    <ul>
                        <!-- ngRepeat: (block, amount) in findQuery.allBlocksBigger -->
                    </ul>
                </nav>
                <input class="slim ng-pristine ng-untouched ng-valid ng-valid-min" type="number" min="2" ng-model="newBlockBigger"> / 
                <input class="slim ng-pristine ng-untouched ng-valid ng-valid-min" type="number" min="1" ng-model="amountBlockBigger" ng-init="amountBlockBigger=1">
                <button class="button button-mini inline" ng-click="findQuery.allBlocksBigger[newBlockBigger - 1] = amountBlockBigger;"><span class="font-icon-plus"></span></button>
            </div>
        </blockquote>
    </div>
</div>