<div ng-init="getAllTours()" class="span24">
    <h2>Сводная таблица({{$storage.currentYear}})</h2>
    <table id='top' class="compact altrowstable" ui-tree>
        <thead>
            <tr>
                <th class="row-standart">Дата</th>
                <th ng-repeat="tour in allTours" ng-class-odd="'oddrowcolor'" ng-class-even="'evenrowcolor'" ng-click="selectTour(tour)" ng-class="selectedTour == tour? 'selected':''">
                    {{strToDate(tour).replace('/', '.')}}
                </th>
            </tr>
        </thead>
         <tbody ui-tree-nodes ng-model="tablesByYear">    
            <tr ng-repeat-start="table in tablesByYear" ui-tree-node ng-class-odd="'oddrowcolor'" ng-class-even="'evenrowcolor'">
                <td ui-tree-handle  rowspan="{{table.games.length + 1}}">
                    {{$storage.translater[table.country]}}
                </td>
            </tr>
                <tr ng-repeat-start="g in table.games" >
                    <td ng-repeat="t in allTours" ng-class-odd="'oddrowcolor'" ng-class-even="'evenrowcolor'">
                        <span ng-show="!g.tours[t].clicked  && ((g.tours[t][0] + g.tours[t][1]) >= 0) && (g.tours[t][0] !== undefined && g.tours[t][1] !== undefined)">{{g.tours[t][0]}}:{{g.tours[t][1]}}</span>
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="true"></tr>
            <tr ng-repeat-end ng-hide="true"></tr>
            <tfoot>
                <tr>
                    <td class="row-standart">ТМ</td>
                    <td ng-repeat="tour in allTours" ng-class-odd="'oddrowcolor'" ng-class-even="'evenrowcolor'">
                        {{totals[tour].less2}}
                    </td>
                </tr>
                <tr>
                    <td class="row-standart">ТБ</td>
                    <td ng-repeat="tour in allTours" ng-class-odd="'oddrowcolor'" ng-class-even="'evenrowcolor'">
                        {{totals[tour].bigger2}}
                    </td>
                </tr>               
                <tr>
                    <td class="row-standart">М</td>
                    <td ng-repeat="tour in allTours" ng-class-odd="'oddrowcolor'" ng-class-even="'evenrowcolor'">
                         <span ng-repeat="(lB, count) in totals[tour].allBlocksLess">
                            {{getInt(lB) + 1}}<sup ng-show="count > 1">{{count}}</sup>
                        </span>
                    </td>
                </tr>
                 <tr>
                    <td class="row-standart">Б</td>
                    <td ng-repeat="tour in allTours" ng-class-odd="'oddrowcolor'" ng-class-even="'evenrowcolor'">
                        <span ng-repeat="(bB, count) in totals[tour].allBlocksBigger">
                            {{getInt(bB) + 1}}<sup ng-show="count > 1">{{count}}</sup>                           
                        </span>
                    </td>
                </tr>
            </tfoot>
        </tbody>
    </table>
   <button ng-show="changed" class="button button-large" ng-click="saveToCloud($storage.currentYear)">Сохранить порядок</button>
    <div ng-show="selectedTour" class="row">
        <div class="span12">
            <hr>
        </div>
    </div>
<!-- search -->
    <div ng-show="selectedTour" class="row">
        <!-- Start Blockquote -->
        <h2 class="spec">Поиск комбинаций</h2> 
        <div class="span6">                               
            <blockquote>
               <h3>Блоки из <span class="color-text">тоталов больше</span></h3>
               <div class="accordion-heading accordionize ">
                    <a ng-class="biggerNullBlock? 'accordion-toggle selected' : 'accordion-toggle'" ng-click="biggerNullBlock = biggerNullBlock? false: true" data-toggle="collapse">Без блоков</a>
                </div>
                <div ng-show="!biggerNullBlock" class="span">
                    <span>Длина блока/количество</span>
                    <nav class="icons-example">
                        <ul>
                            <li ng-repeat="(block, amount) in findQuery.allBlocksBigger">
                                 {{getInt(block) + 1}}<sup>{{amount}}</sup>
                                <button class="button button-mini inline" ng-click="deleteBiggerBlock(block)">x</button>
                            </li>
                        </ul>
                    </nav>
                    <input class="slim" type="number" min="2" ng-model="newBlockBigger"> / 
                    <input class="slim" type="number" min="1" ng-model="amountBlockBigger" ng-init="amountBlockBigger=1">
                    <button class="button button-mini inline" ng-click="findQuery.allBlocksBigger[newBlockBigger - 1] = amountBlockBigger;"><span class="font-icon-plus"></span></button>
                </div>
            </blockquote>
        </div>
        <!-- End Blockquote -->
        
        <!-- Start Tooltip -->
        <div class="span6">
            <blockquote>
                <h3>Блоки из <span class="color-text">тоталов меньше</span></h3>
                <div class="accordion-heading accordionize ">
                    <a ng-class="lessNullBlock? 'accordion-toggle selected' : 'accordion-toggle'" ng-click="lessNullBlock = lessNullBlock? false: true" data-toggle="collapse">Без блоков</a>
                </div>
                <div ng-show="!lessNullBlock" class="span">
                    <span>Длина блока/количество</span>
                    <nav class="icons-example">
                        <ul>
                            <li ng-repeat="(block, amount) in findQuery.allBlocksLess">
                                 {{getInt(block) + 1}}<sup>{{amount}}</sup>
                                <button class="button button-mini inline" ng-click="deleteLessBlock(block)">x</button>
                            </li>
                        </ul>
                    </nav>                   
                    <input class="slim" type="number" min="2" ng-model="newBlockLess"> / 
                    <input class="slim" type="number" min="1" ng-model="amountBlockLess" ng-init="amountBlockLess=1">
                    <button class="button button-mini inline" ng-click="findQuery.allBlocksLess[newBlockLess - 1] = amountBlockLess;"><span class="font-icon-plus"></span></button>
                </div>
            </blockquote>                
        </div>
        <!-- End Tootlip -->
    </div>
   <div ng-show="selectedTour" class="span">       
        <div class="row"></div>
        <div class="span">
        <button class="button button-large" ng-click="orderVariants()">Поиск</button> 
        </div>
        <div ng-if="findResults.length < 120" class="alert alert-standard fade in span2">Результатов: {{findResults.length}}</div>
        <div ng-if="findResults.length == 120"class="alert alert-standard fade in span2">Любая комбинация</div>  
        <div class="row">
            <div class="span12">
                <hr>
            </div>
        </div>          
        <div ng-if="findResults.length < 120" class="span">
            <div class="alert fade alert-standard in inline" ng-click="selectResult($index)" ng-repeat="findResult in findResults">
                <ul >
                    <li ng-repeat="num in findResult">
                        {{$index + 1}}. {{$storage.translater[names[num]]}}
                    </li>
                </ul>
            </div>
        </div>
   </div>
</div>