<div ng-init="getAllTours()" class="span24">
    <h2>Сводная таблица({{$storage.currentYear}})</h2>
    <table border="1" class="compact" ui-tree>
        <thead>
            <tr>
                <th>Страна</th>
                <th>Команда</th>
                <th ng-repeat="tour in allTours">
                    {{strToDate(tour)}}
                </th>
            </tr>
        </thead>
         <tbody ui-tree-nodes ng-model="tablesByYear">    
            <tr ng-repeat-start="table in tablesByYear" ui-tree-node>
                <td ui-tree-handle ng-mouseup="dragStop()" rowspan="{{table.games.length + 1}}">
                    {{$storage.translater[table.country]}}
                </td>
            </tr>
                <tr ng-repeat-start="g in table.games">
                    <td>
                        {{g.command}}
                    </td>
                    <td ng-repeat="t in allTours">
                        {{g.tours[t][0]}}:{{g.tours[t][1]}}
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="true"></tr>
            <tr ng-repeat-end ng-hide="true"></tr>
            <tfoot>
                <tr>
                    <td>Тоталы больше/меньше</td>
                    <td></td>    
                    <td ng-repeat="tour in allTours">
                        {{totals[tour].bigger2}}/{{totals[tour].less2}}</br>
                    </td>
                </tr>
                <tr>
                    <td>Блоки больше</td>
                    <td></td>
                    <td ng-repeat="tour in allTours">
                        <span ng-repeat="(bB, count) in totals[tour].allBlocksBigger">
                            {{getInt(bB) + 1}}<sup>{{count}}</sup>                           
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Блоки меньше</td>
                    <td></td>
                    <td ng-repeat="tour in allTours">
                     <span ng-repeat="(lB, count) in totals[tour].allBlocksLess">
                        {{getInt(lB) + 1}}<sup>{{count}}</sup>
                    </span>
                    </td>
                </tr>
            </tfoot>
        </tbody>
    </table>
   <button ng-show="changed" class="button button-large" ng-click="saveToCloud($storage.currentYear)">Сохранить порядок</button>
</div>